footer.footer {
  padding-top: 1em;
  padding-bottom: 0;
  color: #777;
  background-color: #e5e5e5;
}
.footer a,
.footer .nav>li>a {
  color: #9d9d9d;
}
.footer .nav>li>a {
  padding: 10px 15px 15px 10px;
}
.footer a:hover,
.footer a:focus,
.footer .nav>li>a:hover,
.footer .nav>li>a:focus {
  color: #fff;
  text-decoration: none;
}
.footer .nav>li>a:hover,
.footer .nav>li>a:focus {
  background-color: #9d9d9d;
}
#footer_bottom {
  margin-top: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #101010;
}
.navbar-header .logo {
  margin-right: 10px;
}
.navbar-header .logo img {
  max-height: 35px;
  width: auto;
}
