{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}
    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
      ]
    %}
    <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
      {% if not navbar_attributes.hasClass('container') %}
        <div class="{{ container }}">
      {% endif %}
      <div class="navbar-header">
        {{ page.navigation }}
        {# .btn-navbar is used as the toggle for collapsed navbar content #}
        {% if page.navigation_collapsible %}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {% endif %}
      </div>

      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        <div id="navbar-collapse" class="navbar-collapse collapse">
          {{ page.navigation_collapsible }}
        </div>
      {% endif %}
      {% if not navbar_attributes.hasClass('container') %}
        </div>
      {% endif %}
    </header>
  {% endblock %}
{% endif %}

{# Main #}
{% block main %}
  <div role="main" class="main-container {{ container }} js-quickedit-main-content">
    <div class="row">

      {# Header #}
      {% if page.header %}
        {% block header %}
          <div class="col-sm-12" role="heading">
            {{ page.header }}
          </div>
        {% endblock %}
      {% endif %}

      {# Sidebar Left #}
      {% if page.sidebar_left %}
        {% block sidebar_left %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_left }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_left and (page.sidebar_double or page.sidebar_right1 or page.sidebar_right2) ? 'col-sm-5',
          page.sidebar_left and page.sidebar_double is empty and page.sidebar_right1 is empty and page.sidebar_right2 is empty ? 'col-sm-9',
          page.sidebar_left is empty and (page.sidebar_double or page.sidebar_right1 or page.sidebar_right2) ? 'col-sm-8',
          page.sidebar_left is empty and page.sidebar_double is empty and page.sidebar_right1 is empty and page.sidebar_right2 is empty ? 'col-sm-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {% if page.sidebar_double or page.sidebar_right1 or page.sidebar_right2 %}
        {# Sidebar right #}
        {% if page.sidebar_right1 and page.sidebar_right2 %}
          {% set sidebar_class = 'col-sm-6' %}
        {% else %}
          {% set sidebar_class = 'col-sm-12' %}
        {% endif %}
        <div class="col-sm-4">
          <div class="row">
            {# Sidebar Right 1 #}
            {% if page.sidebar_right1 %}
              {% block sidebar_right1 %}
                <aside class="{{ sidebar_class }}" role="complementary">
                  {{ page.sidebar_right1 }}
                </aside>
              {% endblock %}
            {% endif %}

            {# Sidebar Right 2 #}
            {% if page.sidebar_right2 %}
              {% block sidebar_right2 %}
                <aside class="{{ sidebar_class }}" role="complementary">
                  {{ page.sidebar_right2 }}
                </aside>
              {% endblock %}
            {% endif %}

            {# Sidebar Double #}
            {% if page.sidebar_double %}
              {% block sidebar_double %}
                <aside class="col-sm-12" role="complementary">
                  {{ page.sidebar_double }}
                </aside>
              {% endblock %}
            {% endif %}
          </div>
        </div>
      {% endif %}

    </div>
  </div>
{% endblock %}

{% if page.footer_bottom or page.footer_first or page.footer_second or page.footer_third %}
  <footer class="footer container-fluid" role="contentinfo">
    <div class="row">

      {% if page.footer_first and page.footer_second and page.footer_third %}
        {% set footer_class = 'col-sm-4' %}
      {% elseif page.footer_first is empty and page.footer_second and page.footer_third %}
        {% set footer_class = 'col-sm-6' %}
      {% elseif page.footer_first and page.footer_second is empty and page.footer_third %}
        {% set footer_class = 'col-sm-6' %}
      {% elseif page.footer_first and page.footer_second and page.footer_third is empty %}
        {% set footer_class = 'col-sm-6' %}
      {% else %}
        {% set footer_class = 'col-sm-12' %}
      {% endif %}

      {% if page.footer_first %}
        {% block footer_first %}
          <div class="{{ footer_class }}">
            {{ page.footer_first }}
          </div>
        {% endblock %}
      {% endif %}

      {% if page.footer_second %}
        {% block footer_second %}
          <div class="{{ footer_class }}">
            {{ page.footer_second }}
          </div>
        {% endblock %}
      {% endif %}

      {% if page.footer_third %}
        {% block footer_third %}
          <div class="{{ footer_class }}">
            {{ page.footer_third }}
          </div>
        {% endblock %}
      {% endif %}

      {% if page.footer_bottom %}
        {% block footer_bottom %}
          <div class="col-sm-12 text-center" id="footer_bottom">
            {{ page.footer_bottom }}
          </div>
        {% endblock %}
      {% endif %}

    </div>
  </footer>
{% endif %}
